
footer{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    h2{
        font-size: 60px;
        font-weight: 900;
        color: rgb(255, 255, 255);
    }
    a{
        img{
            width: 50px;
            height: 50px;
        }
    }
}