
/*!---INDEX---*/

.hero {
    height: 600px;
    text-align: center;
    color: black;
    background-image: url("../img/desarrollo\ \(1\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @extend %center;
    h1{
        font-size: nth($font-size, 6);
        color: rgb(0, 30, 119);
        padding: 20px;
    }
    h2{
        font-size: nth($font-size, 3);
    }
    p{
        font-size: nth($font-size, 3);
        margin: nth($margin, 2);
    }
}

.servicios{
    h2{
        margin: nth($margin, 6);
        padding: 15px;
        text-align: center;
        background-color: rgb(23, 0, 231);
        color: wheat;
        border-radius: 10px 60px 30px;
    }
}

.tienda{
    .tienda-div{
        @extend %center;
        h2{
            text-align: center;
            font-size: 35px;
            margin: nth($margin, 4);
        }
        p{
            color: black;
            font-size: 20px;
            margin-bottom: 20px;
            padding: 10px;
        }
        a{
            background-color: $color-1;
            text-decoration: none;
            color: $color-4;
            border-radius: 30px;
            padding: 10px;
            margin-top: 60px;
            margin: nth($margin, 4);
            width: 30%;
            @extend %center;
            &:hover{
                color: rgb(0, 4, 255);
            }
        }
    }
}

.fixed{
    position: fixed;
    bottom: 40px;
    right: 40px;
    img{
        width: 80px;
    }
}

/*!---SERVICIOS---*/

.servicio{
    height: 500px;
    text-align: center;
    color: black;
    background-image: url("../img/web.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @extend %center;
    div{
        h1{
            text-align: center;
            color: black;
            font-weight: 700;
            font-size: 40px;
            padding: 10px;
            @extend %center;
        }
        p{
            text-align: center;
            font-size: 25px;
            padding: 10px;
            margin: nth($margin, 3);
            font-weight:bold;
            text-shadow: -4px 10px 9px rgba(0,0,0,0.53);
        }
    }
}

.proyecto{
    @extend %center;
    h3{
        text-align: center;
        font-size: 40px;
        margin: nth($margin, 2);
        color: white;
        background: rgb(0, 0, 0);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
    p{
        text-align: center;
        font-size: 25px;
        margin: nth($margin, 2);
    }
    a{
        background-color: $color-1;
        text-decoration: none;
        border-radius: 30px;
        color: $color-4;
        padding: 10px;
        margin-top: 40px;
        margin: nth($margin, 4);
        font-size: 20px;
        @extend %center;
        &:hover{
            color: rgb(0, 4, 255);
        }
    }
}

/*!----Nosotros----*/

.primera{
    padding: 10px;
    margin: nth($margin, 5);
    @include flex (flex, center, center);
    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
    }
    p{
        font-size: 25px;
        margin-top: 15px;
    }
}

.segunda{
    padding: 10px;
    margin: nth($margin, 5);
    @include flex (flex, space-between, center);
    img{
        background-color: black;
        text-decoration: none;
        color: white;
        padding: 10px;
        margin-top: 60px;
        margin: nth($margin, 4);
        width: 60%;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
    }
    p{
        font-size: 20px;
        margin-top: 15px;
    }
}

.tercera{
    @extend %center;
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
        color: white;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
    ul{
        font-size: 20px;
        margin: nth($margin, 2);
        padding: 15px;
        li{
            padding: 5px;
        }
    }
}

.cuarta{
    @extend %center;
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
    }
    p{
        font-size: 20px;
        margin-top: 15px;
    }
}

.quinta{
    @extend %center;
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
    }
    a{
        background-color: $color-1;
        text-decoration: none;
        border-radius: 30px;
        color: $color-4;
        padding: 10px;
        margin-top: 40px;
        margin: nth($margin, 4);
        font-size: 20px;
        @extend %center;
        width: 15%;
        &:hover{
            color: rgb(0, 4, 255);
        }
    }
}

/*!---TRABAJOS---*/

.trabajos{
    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
        padding: 10px;
        text-align: center;
        color:rgba(255, 255, 255, 0.856);
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
}

.estilos{
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin: nth($margin, 3);
        padding: 10px;
        text-align: center;
        color:rgba(255, 255, 255, 0.856);
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
}

/*!---Contacto---*/

.primaria{
    margin: nth($margin, 4);
    @extend %center;
    h1{
        padding: 10px;
        color:rgba(255, 255, 255, 0.856);
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
    p{
        padding: 10px;
        font-size: 25px;
    }
}

.secundaria{
    @extend %center;
    margin-top: 50px;
    h2{
        padding: 10px;
        color:rgba(255, 255, 255, 0.856);
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 23%, rgba(0,0,246,1) 78%, rgba(0,212,255,1) 100%);
    }
    div{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 70%;
        height: 70%;
        object-fit: cover;
    }
}




